@import "_typography_layout";

.findUs {
	margin-bottom: 0 !important;

	.container-fluid {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8rem;
		justify-content: center;
		width: 100%;
		padding-inline: 0;

		.row {
			width: 100%;
			align-items: center;

			@media (max-width: 767px) {
				flex-wrap: wrap-reverse;
			}

			.map {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.text--wrapper {
			padding-inline: 3rem;
			display: flex;
			justify-content: center;
			flex-direction: column;

			@media (max-width: 767px) {
				margin-bottom: 2rem;
				padding-inline: 0rem;
			}

			h2 {
				margin-bottom: 2rem;
				margin-inline: auto;

				@media (max-width: 767px) {
					text-align: center;
				}
			}

			p {
				font-size: 16px !important;
			}

			.informations {
				display: flex;
				align-items: center !important;
				gap: 1rem;
				margin-inline: auto !important;

				@media (min-width: 767px) and (max-width: 1060px) {
					flex-direction: column;
				}

				@media (min-width: 1060px) {
					gap: 5rem;
				}

				@media (max-width: 767px) {
					justify-content: center;
				}

				.contacts {
					display: flex;
					flex-direction: column;

					a {
						text-decoration: none;
						color: $brand-black;
						position: relative;
						padding-left: 2.5rem;
						font-family: $lexend;
						font-size: 16px;

						&:hover {
							text-decoration: underline;
						}
					}

					a#phone {
						margin-bottom: 1.4rem;
						&::before {
							content: "";
							background-image: url(../img/phone.svg);
							background-size: cover;
							background-repeat: no-repeat;
							position: absolute;
							border-radius: 50%;
							background-color: $brand-black;
							width: 2rem;
							height: 2rem;
							left: 0;
						}
					}

					a#mail {
						&::before {
							content: "";
							background-image: url(../img/mail.svg);
							background-size: cover;
							background-repeat: no-repeat;
							position: absolute;
							border-radius: 50%;
							background-color: $brand-black;
							width: 2rem;
							height: 2rem;
							left: 0;
						}
					}
				}
			}
		}
	}

	.place-card {
		display: none !important;
	}
}
